body {
    font-family: 'Short Stack', cursive;
    font-size: 18px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}

.signature {
    margin-top: 2em;
    margin-left: 15em;
}