#homepage {
  height: 100vh;
  background: #085078;  /* fallback for old browsers */
  background: linear-gradient(to right, #085078, #85D8CE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  text-align: center;
  padding-top: 10rem;
}

h1 {
  text-align: center;
  width: 100%;
}

nav {
  font-size: 1.6rem;
}

a {
  color: #ffd26a;
}

a:visited {
  color: #ffd26a;
}